.loading {
  --aaLine-color: currentColor;
  color: var(--color-dividers);
  font-family: var(--fontFamily-title);
  font-size: 2rem;
  max-width: 100%;
  width: 200px;
}

:host {
  align-items: center;
  background: var(--color-backdrop);
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
