:host {
  display: block;
  margin: auto;
  max-width: 800px;
  padding: 0 10px;

  @media (min-width: 400px) {
    padding: 0 20px;
  }

  @media (min-width: 650px) {
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    border: 2px solid var(--color-dividers);
    border-width: 0 2px;
  }
}
