:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily-title);
  justify-content: center;
  padding: 4rem 0;
}

.daysLeft {
  font-size: 10rem;
  font-weight: 400;
  line-height: .7;
}

.label {
  font-size: var(--fontSize-title);
}
