<p>
    Our wedding ceremony will be taking place at <a href="https://www.google.com/maps/place/Church+of+the+Good+Shepherd,+Nottingham/@52.9930746,-1.1385918,17z/data=!4m5!3m4!1s0x4879c11c7ba72b6d:0xb306a2753d957148!8m2!3d52.9930257!4d-1.1364343">The Church of the Good Shepherd</a>.
</p>

<address>
    The Church of the Good Shepherd,<br />
    Thackery’s Lane,<br />
    Woodthorpe,<br />
    Nottingham,<br />
    NG5 4HT
</address>

<p>
    There is limited parking at the church so we ask guests to either use the free car park next door at the recreational ground or there is plenty of on street parking available. Near.
</p>

<aa-divider></aa-divider>

<p>
    If you would like to stay close to the church the night before the wedding we recommend <a href="https://www.premierinn.com/gb/en/hotels/england/nottinghamshire/nottingham/nottingham-north-daybrook.html">Premier Inn Nottingham North</a>.
</p>

<address>
    Premier Inn Nottingham North (Daybrook) hotel,<br />
    101 Mansfield Rd,<br />
    Daybrook,<br />
    Nottingham,<br />
    NG5 6BH
</address>

<p>
    Due to the significant distance between the church and the reception venue we recommend you book different accommodation for the night of the wedding. see the <a [routerLink]="['/reception']">Reception</a> page for recommendations.
</p>