<aa-banner image="/assets/good-shepherd.jpg" title="The ceremony"></aa-banner>

<aa-content>
    <p>
        The Church of the Good Shepherd is a Roman Catholic church located on Thackerays Lane in Woodthorpe, a suburban
        area of Arnold, Nottingham. It is a Grade II listed building.
    </p>
    <p>
        The church was opened on 23 July 1964; it celebrated its Golden Jubilee commemorating fifty years of service in
        2014. The architect was Gerard Goalen and the modern design won an award from the Royal Institute of British
        Architects in 1966. The dalle de verre stained glass is by Patrick Reyntiens.
    </p>
    <p>
        In 2012, the church was awarded £119,000 by English Heritage to resolve issues with concrete cancer and
        reinforcement decay which was eroding the fabric of the building. The roof and concrete fascia replacement cost
        about £300,000 despite the English Heritage grant.
    </p>
</aa-content>