:host {
  &.isOpen {
    .container {
      @media (max-width: 650px) {
        box-shadow: 0 5px 10px var(--color-shadow);
        transform: translateY(0);
      }
    }
  }
}

.links {
  list-style: none;
  margin: 0 50px;
  padding: 20px 0;

  @media (min-width: 650px) {
    align-items: center;
    display: flex;
    padding: 0;
  }
}

.link {
  font-size: 1.2rem;

  @media (max-width: 650px) {
    margin: 10px 0;
  }

  & + & {
    &::before {
      @media (min-width: 650px) {
        content: '•';
        color: var(--color-dividers);
        margin: 0 20px;
      }
    }
  }
}

.container {
  @media (min-width: 650px) {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 650px) {
    background: var(--color-card);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform .1s;
    z-index: 100;
  }
}

.close {
  --closeIcon-color: var(--color-link);
  background: transparent;
  border: 0;
  margin: 10px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;

  @media (min-width: 650px) {
    display: none;
  }

  &:hover,
  &:focus {
    --closeIcon-color: var(--color-link--hover);
  }
}

.link-href {
  @media (max-width: 650px) {
    display: block;
  }
}
