<aa-banner image="assets/chequers.jpg" title="The reception"></aa-banner>

<aa-content>
    <p>
        Woolsthorpe by Belvoir! Not the one where Sir Isaac Newton discovered gravity, but the one where you’ll find the
        award winning Chequers Inn. A quintessential English country pub that also happens to serve rather delicious
        food. Nestled twixt the three counties of Lincolnshire, Leicestershire and Nottinghamshire in the unspoilt and
        stunning Vale of Belvoir, with views up to the ancestral home of the Duke of Rutland, Belvoir Castle.
    </p>
    <p>
        In the winter, the Chequers greets you with roaring log fires and a cosy atmosphere to hunker down into –
        delicious comfort food and winter warmers from the bar. In the summer, we throw open the doors to our pretty
        garden, perfect for al fresco dining and a glass or two of rose!
    </p>
    <p>
        Join us for lunch or dinner 7 days of the week and (almost!) 365 of the year – the Chequers offers intimate
        dining in cosy 17th century nooks alongside our contemporary restaurant, ideal for private functions and
        spectacular weddings.
    </p>
    <p>
        We also have 4 simple, stylish en-suite bedrooms in a converted stable next door to the Inn – ideal staggering
        distance.
    </p>
</aa-content>