<p>
    The reception is going to take place at <a href="http://www.chequersweddings.co.uk/">The Chequers Inn</a>
</p>

<aa-address link="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d77017.46044123443!2d-0.755579!3d52.898103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8b41a3b02a8cd304!2sChequers%20Inn!5e0!3m2!1sen!2suk!4v1646156842304!5m2!1sen!2suk">
    The Chequers Inn,<br />
    Main St,<br />
    Woolsthorpe,<br />
    Grantham,<br />
    NG32 1LU
</aa-address>

<aa-divider></aa-divider>

<p>
    Due to the timings of the day, we suggest that you check in to your hotel near to the reception venue ahead of making your way to the reception via taxi/your own transportation.
</p>

<p>
    The Chequers Inn are happy for guests to leave their car at the venue overnight and to collect them the next day. Taxis are available at the end of the evening by contacting Grantham Taxis (01476) 594594 or Excellent Cabs Grantham (01476) 367367.
</p>

<p>
    The nearest hotel is <a href="https://www.premierinn.com/gb/en/hotels/england/lincolnshire/grantham/grantham.html?cid=GLBC_GRABRE">The Premier Inn Grantham</a>.
</p>

<aa-address link="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12129.433408206018!2d-0.6746845407500666!3d52.89830442036499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487831b0adcf2b19%3A0xd19f27fa9160309d!2sPremier%20Inn%20Grantham%20hotel!5e0!3m2!1sen!2suk!4v1646156936175!5m2!1sen!2suk">
    Premier Inn Grantham,<br />
    Junction A1/607,<br />
    Harlaxton Road,<br />
    Grantham,<br />
    NG31 7JT
</aa-address>
