:host {
  display: block;
}

.map {
  border: 1px solid var(--color-dividers);
  height: 500px;
  width: 100%;
}

.container {
  position: relative;
}

.address {
  cursor: pointer;
  display: flex;
  padding-right: 45px;
  position: relative;
}

.mapIcon {
  fill: var(--color-dividers);
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
}