<p class="name">{{ guest.name }}</p>

<div class="guest-details">
    <aa-guest-type class="type" [guestType]="guest.type"></aa-guest-type>
    <aa-attending-status class="status" [status]="guest.attending"></aa-attending-status>
</div>

<aa-menu class="menu" *ngIf="guest.attending && (guest | isDayGuest)" [starter]="guest.starter" [main]="guest.main" [dessert]="guest.dessert"></aa-menu>

<aa-button class="button" (activate)="onEdit()" [label]="guest.attending === null ? 'Respond' : 'Change'"></aa-button>